.hero {
  padding-bottom: 60px;

  @include mobile {
    padding-bottom: 50px;
    height: max-content;
  }

  &__block {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    @include mobile {
      height: max-content;
    }
  }

  &__avatar {
    margin-bottom: 35px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }

  // .header__title

  &__title {
    margin-bottom: 14px;
    font-weight: 600;
    font-size: 47px;
    line-height: 110%;
    letter-spacing: 0.376px;
    color: #FFFFFF;

    @include mobile {
      text-align: center;
    }
  }

  // .header__descr

  &__descr {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 23px;
    line-height: 132%;
    letter-spacing: 0.357px;
    color: #F7F7F5;
    mix-blend-mode: normal;
    opacity: 0.5;

    @include mobile {
      text-align: center;
    }
  }
}
