.hero {

  // .hero__list
  &__list {
    max-width: 872px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1100px) {
      flex-wrap: wrap;
      justify-content: flex-end;
      column-gap: 0;
    }

    @include mobile {
      justify-content: center;
    }
  }

  // .hero__item
  &__item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width: 1100px) {
      margin-bottom: 20px;
      min-width: 236px;
      width: 40%;
    }
  }

  &__group {
    margin-left: 12px;
  }

  // .hero__text
  &__text {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.357px;
    color: #F0F8FD;
  }

  // .hero__link
  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.357px;
    color: #50FF6C;
    opacity: .8;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    outline: none;
    transform: scale(2, 2);

    &:focus-visible {
      opacity: 1;
      border-bottom: 1px solid #50FF6C;
    }

    &:hover {
      opacity: 1;
      border-bottom: 1px solid #50FF6C;
    }

    &:active {
      opacity: 1;
      color: #316f3c;
      border-bottom: 1px solid #316f3c;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
