.nav {
  padding: 20px 0;

  @include tablet {
    padding: 70px 0 20px 0;
  }

  @include mobile {
    padding: 40px 0 0;
  }

  // .nav__list

  &__list {
    margin: 0 auto;
    max-width: 80%;
    gap: 10px;

    @include tablet {
      max-width: 100%;
      gap: 0;
    }

    @include mobile {
      display: none;
    }
  }

  // .nav__item

  &__item {

    @include mobile {
      margin-bottom: 20px;
    }

    // display: flex;

  }

  // .nav__link

  &__link {
    padding: 12px 20px;
    color: #50FF6C;
    opacity: .8;
    white-space: nowrap;
    transition: all .3s ease-in-out;

    @include tablet {
      padding: 8px 12px;
    }

    &:focus {
      background: #50FF6C;
      color: #050801;
      box-shadow: 0 0 5px #50FF6C,
        0 0 25px #50FF6C,
        0 0 50px #50FF6C,
        0 0 200px #50FF6C;
      -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
      outline: none;
    }

    &:hover {
      background: #50FF6C;
      color: #050801;
      box-shadow: 0 0 5px #50FF6C,
        0 0 25px #50FF6C,
        0 0 50px #50FF6C,
        0 0 200px #50FF6C;
      -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    }
  }

  &__link.active {
    background: #50FF6C;
    color: #050801;
    box-shadow: 0 0 5px #50FF6C,
      0 0 25px #50FF6C,
      0 0 50px #50FF6C,
      0 0 200px #50FF6C;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  }

  @include mobile {
    .burger {
      @include burger;
      color: #50FF6C;

    }
  }

  .menu--active {
    // background-color: red;
    height: 100vh;
    width: 100%;
  }

  .menu--active.nav__list {
    display: block;
    padding: 50px;
    font-size: 32px;
  }

}
