.carrer {

  &__block {
    background-image: none;
  }

  // .carrer__group

  &__group {
    margin-bottom: 40px;
  }

  // .carrer__title

  &__title {
    color: #F7F7F5;
  }

  // .carrer__subtitle
  &__subtitle {
    margin-bottom: 20px;
    color: #F7F7F5;
  }

  // .carrer__date
  &__date {
    width: 33%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__date--two {
    width: 90%;
  }

  &__date--three {
    width: 28%;
  }

  &__date--four {
    width: 100%;
  }

  // .carrer__number
  &__number {
    margin-bottom: 4px;
    color: #F7F7F5;

    @include mobile {
      &:nth-child(2) {
        display: none;
      }
    }
  }

  // .carrer__line
  &__line {
    width: 100%;
    min-width: 130px;
    height: 10px;
    background-color: #636363;
    border-radius: 5px;
  }

  &__line--one {
    &::before {
      content: '';
      display: block;
      width: 33%;
      height: 10px;
      background-color: #50FF6C;
      border-radius: 5px;
    }
  }

  &__line--two {
    &::before {
      content: '';
      display: block;
      width: 90%;
      height: 10px;
      background-color: #50FF6C;
      border-radius: 5px;
    }
  }

  &__line--three {
    &::before {
      content: '';
      display: block;
      width: 28%;
      height: 10px;
      background-color: #50FF6C;
      border-radius: 5px;
    }
  }

  &__line--four {
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 10px;
      background-color: #50FF6C;
      border-radius: 5px;
    }
  }
}
