<section class="page portfolio">
  <div class="container">
    <div class="portfolio__block page__block">
      <h1 class="page__caption">
        Портфолио
      </h1>
      <p class="page__description">
        Здесь несколько моих проектов.
      </p>

      <div class="portfolio__group d-flex jf-sb">
        <!-- sitdown  -->
        <div class="closed" id="container">
          <header class="card" id="toggle">
            <div class="header"></div>
            <div class="title">Website SitDownPls</div>
          </header>
          <article>
            <div class="preperation">
              <div>This is my project for a multi-page (main/ catalog/ card) website for an online furniture store
                (responsive website HTML/ SCSS/ JavaScript/ Figma/ Pixel Perfect/ GULP/ WEBPACK/ GIT).
              </div>
              <a href="http://sit.webtm.ru/" class="green-text portfolio__link">SitDownPls 🠔 посмотреть</a>
              <p>JavaScript part:</p>
              <p>- Custom selects</p>
              <p>- Search bar</p>
              <p>- Burger menu</p>
              <p>- Modal windows on the product card page</p>
              <p>- Five slides are implemented using a third-party library, all work with different settings.</p>
              <p>- Tabs on the catalog page</p>
              <p>- Checking the form with sending to the mail</p>
              <p>- Phone mask</p>
              <p>- custom checkboxes</p>
              <p>- tooltips</p>
              <p>- noUI slider</p>
              <p>maybe I forgot something)</p>
            </div>
          </article>
        </div>
        <!-- blanchart  -->
        <div class="closedTwo" id="containerTwo">
          <header class="card" id="toggleTwo">
            <div class="header headerTwo"></div>
            <div class="title">Website Blanchart</div>
          </header>
          <article>
            <div class="preperation">
              <div>
                It's my project for art gallery (Responsive website HTML/ CSS/ JavaScript/ Figma/ Pixel Perfect).
              </div>
              <a href="http://evgeni-sidorov.webtm.ru" class="green-text portfolio__link">Blanchart 🠔 посмотреть</a>
              <p>JavaScript part:</p>
              <p>- Three slides are implemented using a third-party library, they all work with different settings.</p>
              <p>- Tabs, they are built into the accordion</p>
              <p>- Burger menu</p>
              <p>- Accordion in the catalog section</p>
              <p>- Custom select</p>
              <p>- Form validation</p>
              <p>- Checking the form with sending to the mail</p>
              <p>- Phone mask</p>
              <p>- custom checkboxes</p>
              <p>- tooltips</p>
              <p>- Yandex map</p>
              <p>- Search box</p>
              <p>maybe I forgot something)</p>
            </div>
          </article>
        </div>
        <!-- highpass  -->
        <div class="closedThree" id="containerThree">
          <header class="card" id="toggleThree">
            <div class="header headerThree"></div>
            <div class="title">Website High-pass</div>
          </header>
          <article>
            <div class="preperation">
              <div>This is my project for a landing-page (main) photo studio website
                (responsive website HTML/ SCSS/ JavaScript/ Figma/ Pixel Perfect/ GIT).
              </div>
              <a href="http://high-passs.webtm.ru/" class="green-text portfolio__link">High-pass 🠔 посмотреть</a>
              <p>JavaScript part:</p>
              <p>- Search bar</p>
              <p>- Burger menu</p>
              <p>- Yandex map</p>
              <p>maybe I forgot something)</p>
            </div>
          </article>
        </div>
        <!-- CRM  -->
        <div class="closedFour" id="containerFour">
          <header class="card" id="toggleFour">
            <div class="header headerFour"></div>
            <div class="title">CRM system</div>
          </header>
          <article>
            <div class="preperation">
              <div>
                This is my CRM application for creating a list of clients with filling in client data.
              </div>
              <a href="http://crm-sys.webtm.ru/" class="green-text portfolio__link">CRM system 🠔 посмотреть</a>
              <p>The main functionality is:</p>
              <p>- view a list of people in the form of a table</p>
              <p>- adding a new client</p>
              <p>- changing information about an existing client</p>
              <p>- removing a client from the list</p>
              <p>- search in the list (first name last name patronymic id date)</p>
              <p>- sorting (name surname lastname id date) in ascending order and vice versa</p>
              <p>Each client represents the following data set:</p>
              <p>- name</p>
              <p>- surname</p>
              <p>- lastname</p>
              <p>- array of objects with contact details</p>
              <p>- id</p>
              <p>- date and time of creation</p>
              <p>- date and time the changes were made</p>
              <p>All interaction in the application is implemented through the server, which must be run locally for the application to work correctly.</p>
              <p>maybe I forgot something)</p>
            </div>
          </article>
        </div>
        <!-- game  -->
        <div class="closedFive" id="containerFive">
          <header class="card" id="toggleFive">
            <div class="header headerFive"></div>
            <div class="title">Game double</div>
          </header>
          <article>
            <div class="preperation">
              <div>
                This is a game of pairs, you need to find the same cards. Try it you will like it.
              </div>
              <a href="http://supergame.evgeni-sidorov.webtm.ru/" class="green-text portfolio__link">Game double 🠔 посмотреть</a>
              <p>The main functionality is:</p>
              <p>- search for two matching numbers</p>
              <p>game written in vanilla JS</p>
              <p>maybe I forgot something)</p>
            </div>
          </article>
        </div>
        <!-- todo  -->
        <div class="closedSix" id="containerSix">
          <header class="card" id="toggleSix">
            <div class="header headerSix"></div>
            <div class="title">ToDo App</div>
          </header>
          <article>
            <div class="preperation">
              <div>
                This is my to-do list application.
              </div>
              <a href="http://todoapp.evgeni-sidorov.webtm.ru/index.html" class="green-text portfolio__link">ToDo App 🠔 посмотреть</a>
              <p>It is designed for three users.</p>
              <p>All changes are automatically saved to local storage</p>
              <p>Main functionality:</p>
              <p>- adding a new case</p>
              <p>- deleting a case</p>
              <p>- mark the case as completed</p>
              <p>Application written in vanilla JS</p>
              <p>For convenience, the Bootstrap library was used.</p>
              <p>maybe I forgot something)</p>
            </div>
          </article>
        </div>
        <!-- education  -->
        <div class="closedSeven" id="containerSeven">
          <header class="card" id="toggleSeven">
            <div class="header headerSeven"></div>
            <div class="title">Web site Education</div>
          </header>
          <article>
            <div class="preperation">
              <div>This is my project for a multi-page (main/ contacts/ privacy) website for an education company
                (responsive website HTML/ SCSS/ JavaScript/ Figma/ Pixel Perfect/ GULP/ WEBPACK/ GIT).
              </div>
              <a href="http://www.edinworld.webtm.ru/" class="green-text portfolio__link">Education 🠔 посмотреть</a>
              <p>JavaScript part:</p>
              <p>- Burger menu</p>
              <p>- Slider</p>
              <p>- Tabs</p>
              <p>- Checking the form with sending to the mail</p>
              <p>- Phone mask</p>
              <p>- custom checkboxes</p>
              <p>- animation</p>
              <p>maybe I forgot something)</p>
            </div>
          </article>
        </div>

      </div>

      <a href="https://t.me/I_OMG_FRONTEND" target="_blank" class="page__link">t.me/i_omg_frontend</a>
      <div class="page__group">
        <a href="softSkill.html" class="page__btn page__btn--prew">
          <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 14L14.5 7.5M14.5 7.5L8 0.999999M14.5 7.5L1.5 7.5" stroke="white" stroke-width="2"
              stroke-linecap="round" />
          </svg>
        </a>
        <a href="carrer.html" class="page__btn page__btn--next">
          <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 14L14.5 7.5M14.5 7.5L8 0.999999M14.5 7.5L1.5 7.5" stroke="white" stroke-width="2"
              stroke-linecap="round" />
          </svg>
        </a>
      </div>

      <a href="mailto:3611648@mail.ru" class="mail-link">3611648@mail.ru</a>

    </div>
  </div>
</section>
