<header class="hard page">
  <div class="container">
    <div class="hard__block page__block">
      <h1 class="hard__title page__caption">
        Hard skills
      </h1>
      <p class="page__description">
        Это технологии с которыми я работал.
      </p>

      <ul class="hard__group">
        <li class="hard__text">HTML</li>
        <li class="hard__text">CSS, SCSS</li>
        <li class="hard__text">JavaScript</li>
        <li class="hard__text">TypeScript</li>
        <li class="hard__text">React</li>
        <li class="hard__text">Redux, Redux-Thunk</li>
        <li class="hard__text">MobX, effector</li>
        <li class="hard__text">Сборщики (Webpack, Gulp)</li>
        <li class="hard__text">Git и системы контроля версий</li>
        <li class="hard__text">Figma, Photoshop</li>
        <li class="hard__text">Шаблонизаторы (Handlebars, Pug)</li>
        <li class="hard__text">Адаптивная вёрстка</li>
        <li class="hard__text">SEO-оптимизация</li>
        <li class="hard__text">Производительность и оптимизация веб-приложений</li>
        <li class="hard__text">Responsive design (адаптивный дизайн)</li>
        <li class="hard__text">Cross-browser compatibility (кросс-браузерная совместимость)</li>

      </ul>

      <a class="neon-btn" target="_blank" href="https://t.me/I_OMG_FRONTEND">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        t.me/i_omg_frontend
      </a>

      <div class="page__group">
        <a href="about.html" class="page__btn page__btn--prew">
          <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 14L14.5 7.5M14.5 7.5L8 0.999999M14.5 7.5L1.5 7.5" stroke="white" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </a>
        <a href="softSkill.html" class="page__btn page__btn--next">
          <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 14L14.5 7.5M14.5 7.5L8 0.999999M14.5 7.5L1.5 7.5" stroke="white" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </a>
      </div>

      <a href="mailto:3611648@mail.ru" class="mail-link">3611648@mail.ru</a>

    </div>
  </div>
</header>
