<nav class="nav">
  <div class="container">
    <button class="burger btn-reset" aria-label="Открыть меню" aria-expanded="false"  data-burger>
      <span class="burger__line"></span>
    </button>
    <ul class="nav__list d-flex jf-sb list-reset" data-menu>
      <li class="nav__item" data-menu-item>
        <a href="index.html" class="nav__link">To main</a>
      </li>
      <li class="nav__item" data-menu-item>
        <a href="about.html" class="nav__link ">About</a>
      </li>
      <li class="nav__item" data-menu-item>
        <a href="hardSkill.html" class="nav__link">Hard skills</a>
      </li>
      <li class="nav__item" data-menu-item>
        <a href="softSkill.html" class="nav__link">Soft skills</a>
      </li>
      <li class="nav__item" data-menu-item>
        <a href="portfolio.html" class="nav__link">Portfolio</a>
      </li>
      <li class="nav__item" data-menu-item>
        <a href="carrer.html" class="nav__link">Carrer</a>
      </li>
      <li class="nav__item" data-menu-item>
        <a href="end.html" class="nav__link">End</a>
      </li>
    </ul>
  </div>
</nav>

